{% extends "layout.html" %}
{% block content%}
<link rel="stylesheet" href="{{url_for('static',filename='./css/cards.css')}}">

<div>
    <div class="card-on" id="card_1_about">
        <div class="card-body">
            <h3 class="card-title">WHO I AM</h3>
            <p class="card-text">Artistic, versatile, creative.</p>
            <p class="card-text">Spanish is my mother tongue and I speak English. I also have a A3 German level.</p>
            <p class="card-text">I am Spanish, although I come from Venezuela and I am living in Berlin</p>
            <p class="card-text">Abut to finish my 3rd semester of Software Engineering in Hoschule Macromedia</p>
            <img src="{{url_for('static',filename='pics/vnzla.png')}}" class="card-footer">
            <img src="{{url_for('static',filename='pics/spain.png')}}" class="card-footer">
            <img src="{{url_for('static',filename='pics/berlin.png')}}" class="card-footer">
        </div>
    </div>
    <div class="card-on" id="card_2_about">
        <div class="card-body">
            <h3 class="card-title">My Motivation</h3>
            <p class="card-text">I decide to start my career in Software Engineering because I like art,</p>
            <p class="card-text">creativity, creation, but overall, all the logic that they have within them.</p>
            <p class="card-text">From that, I discovered my admiration for Frontend Develompent, I tend to be a
                perfectionist, so when the templates don't turn out exactly as I envision, it can be frustrating. That
                said, I still love the process and genuinely enjoy it!</p>
            <a href="https://pin.it/t2kFlPWOP" class="btn" id="btn2">My Inspo Pinterest
                Board</a>
        </div>
    </div>
    <div class="card-on" id="card_3_about">
        <div class="card-body">
            <h3 class="card-title">My Hobies</h3>
            <p class="card-text">Painting and reading are some of my favorite activities, and learning how to crochet is
                something I’d love to try.</p>
            <p class="card-text">I used to practice gymnastics, aerial dancing, and occasionally yoga.</p>
            <p class="card-text">I also completed a professional makeup course and surprisingly enjoy working in
                customer service!</p>

        </div>
    </div>
    <div class="card-on" id="card_4_about">
        <div class="card-body">
            <h3 class="card-title">Contact me</h3>
            <p class="card-text">E-mail: aamariana1907@gmail.com</p>
            <p class="card-text">Cellphone: +49 1575 3883131</p>
        </div>
    </div>


</div>

{%endblock%}