{% extends "layout.html" %}
{% block content%}
<link rel="stylesheet" href="{{url_for('static',filename='./css/cards.css')}}">

<div>
    <div class="card-on" id="card_1_about">
        <div class="card-body">
            <h3 class="card-title">WHO I AM</h3>
            <p class="card-text">Artistic, versatile, creative.</p>
            <p class="card-text">Spanish is my mother tongue and I speak English. I also have a A3 German level.</p>
            <p class="card-text">I am Spanish, although I come from Venezuela and I am living in Berlin</p>
            <p class="card-text">Abut to finish my 3rd semester of Software Engineering in Hoschule Macromedia</p>
            <img src="{{url_for('static',filename='pics/vnzla.png')}}" class="card-footer">
            <img src="{{url_for('static',filename='pics/spain.png')}}" class="card-footer">
            <img src="{{url_for('static',filename='pics/berlin.png')}}" class="card-footer">
        </div>
    </div>
    <div class="card-on" id="card_2_about">
        <div class="card-body">
            <h3 class="card-title">My Motivation</h3>
            <p class="card-text">I decide to start my career in Software Engineering because I like art,</p>
            <p class="card-text">creativity, creation, but overall, all the logic that they have within them.</p>
            <p class="card-text">From that, I discovered my admiration for Frontend Develompent, even it makes me crazy
                when it doesnt work like Paint same as the proto.</p>
            <a href="https://pin.it/t2kFlPWOP" class="btn" id="btn2">My Inspo Pinterest
                Board</a>
        </div>
    </div>
    <div class="card-on" id="card_3_about">
        <div class="card-body">
            <h3 class="card-title">My Hobies</h3>
            <p class="card-text">I like painting, and reading</p>
            <p class="card-text">Want to learn how to crochet</p>
        </div>
    </div>
    <div class="card-on" id="card_4_about">
        <div class="card-body">
            <h3 class="card-title">Special title treatment</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
    </div>


</div>

{%endblock%}