{% extends "layout.html" %}
{% block content%}
<link rel="stylesheet" href="{{url_for('static',filename='./css/cards.css')}}">


<div>
    <div class="card-on" id="card_1_projects">
        <div class="card-body">
            <h3 class="card-title">What I know</h3>
            <p class="card-text">I am a really artistic person so I have found myself more into Frontend than Backend
            </p>
            <p class="card-text">I understand the use of HTML, CSS and JS</p>
            <p class="card-text">I have good knowledge of python, OOP and APIs like Flask</p>
            <p class="card-text">Here a couple of projects that I have uploaded into my GitHub, feel free to visit them.
            </p>
            <img src="{{url_for('static',filename='pics/know.png')}}" class="card-footer">
        </div>
    </div>
    <div class="card-on">
        <div class="card-body" id="card_2_projects">
            <h3 class="card-title">QuizProject</h3>
            <p class="card-text">One of my first backend and frontend projects, it works as a quiz generator.</p>
            <p class="card-text">Allows the user to create their questions, choose their method of scoring and saving it
                so more people play.</p>
            <p class="card-text">Backend: simple OOP system</p>
            <p class="card-text">Frontend: HTML</p>
            <a href="https://github.com/MarianaAAW/QuizProject" class="btn">Go to GitHub</a>
        </div>
    </div>
    <div class="card-on" id="card_3_projects">
        <div class="card-body">
            <h3 class="card-title">ResearchPage</h3>
            <p class="card-text">My most recent group project. </p>
            <p class="card-text">A research page that allows users to publish their
                research papers, </p>
            <p class="card-text">with the validation of reviewers and an admin to ensure viability of the papers.</p>
            <p class="card-text">Backend: Flask and SQLalchemy</p>
            <p class="card-text">Frontend: HTML, CSS and JS</p>
            <a href="https://github.com/MarianaAAW/projectMerge_toGit" class="btn">Go to GitHub</a>
        </div>
    </div>
    <div class="card-on" id="card_4_projects">
        <div class="card-body">
            <h3 class="card-title">My Future</h3>
            <p class="card-text">I am looking forward to upgrading my Frontend Development knowledge</p>
            <p class="card-text">I want to learn React and C++, I have some ideas in mind to develop with them.</p>
            <p class="card-text">I have to improve my Algorithms first tho.</p>
        </div>
    </div>


</div>
{%endblock%}