{% extends "layout.html" %}
{% block content%}
<link rel="stylesheet" href="{{url_for('static',filename='./css/cards.css')}}">

<div>
    <div class="card-on">
        <div class="card-body" id="card_1_inspo">
            <h3 class="card-title">Special title treatment</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
    </div>
    <div class="card-on" id="card_2_inspo">
        <div class="card-body">
            <h3 class="card-title">Special title treatment</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
    </div>
    <div class="card-on" id="card_3_inspo">
        <div class="card-body">
            <h3 class="card-title">Special title treatment</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
    </div>
    <div class="card-on" id="card_4_inspo">
        <div class="card-body">
            <h3 class="card-title">Special title treatment</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
    </div>


</div>
{%endblock%}