.card-on {
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-style: none none solid none;
    border-width: 5px;
}

.card-title {
    margin: 10px;
    font-weight: bold;
}


.card-text {
    margin: 3px;
    font-family: 'Courier New', Courier, monospace;
}

/*About.html*/
#card_1_about {
    border-color: #755539ff;
}

#card_2_about {
    border-color: #ed8b42ff;
}

#card_3_about {
    border-color: #f7a43aff;
}

#card_4_about {
    border-color: #ebcc76ff;
}

/*my_projects.html*/
#card_1_projects {
    border-color: #283341ff;
}

#card_2_projects {
    border-color: #395472ff;
}

#card_3_projects {
    border-color: #526473ff;
}

#card_4_projects {
    border-color: #7a837eff;
}

.card-body {
    margin-left: 20px;
    font-size: 24px;
    text-align: center;
}

.cardImage,
.cardImage-LL {
    height: 215px;
    width: 215px;
}

/*buttoooons, for the sake of i dont want more css files*/
.btn {
    background-color: #395472ff;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;

}

/* for the mouse-over motion */
.btn:hover {
    background-color: #7a837eff;
    color: white;
}

#btn2 {
    background-color: #f7a43aff;
    color: white;
}

#btn2:hover {
    background-color: #ed8b42ff;
    color: white;
}

.card-footer {
    width: 10%;
}

.card-footer:hover {
    box-shadow: 0 4px 8px 0 rgb(54 50 164 / 30%);
    margin-top: 20px;
    margin: 10px;
}